body {
    background: #ffb77c;
    font-family: 'Righteous', cursive;
}

#naslov {
    text-align: center;
    font-size: 5rem;
    text-shadow: 0px 5px 50px #2a2a2a;
}

.container {
    width: 60%;
    height: 55vh;
    background-color: #fff;
    border: 6px solid #2a2a2a;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px #2a2a2a;
    display: flex;
    padding: 2rem;
}

#listić {
    flex: 1;
    border: 2px solid #2a2a2a;
    font-size: 2rem;
    text-align: center;
}

#prviRed input, #drugiRed input, #trećiRed input{
    margin: 2rem 2.5rem 2rem 1rem;
    width: 30px;
    height: 30px;
} 

#butonjara, #reset {
    width: 30%;
    font-size: 2rem;
    margin-top: 2rem;
}

#butonjara:hover {
    background-color: green;
    color: white;
}

#funkcionalnost {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#odabir {
    flex: 1;
    display: flex;
    justify-content: center;
}

#odabraniBrojevi {
    margin-left: 2rem;
}

#izvlačenje {
    flex: 2;
}

#izvuci {
    width: 30%;
    font-size: 2rem;
    display: block;
    margin: 0 auto;
}

#izvještaj {
    flex: 1;
    text-align: center;
}

#kuglice {
    margin-top: 3rem;
    display: flex;
}

#kuglice1, #kuglice2, #kuglice3 {
    flex: 1;
    text-align: center;
}